[submodule "embit"]
	path = embit
	url = ../../diybitcoinhardware/embit
[submodule "MaixPy/components/micropython/port/src/secp256k1-embedded"]
	path = MaixPy/components/micropython/port/src/secp256k1-embedded
	url = ../../diybitcoinhardware/secp256k1-embedded
[submodule "urtypes"]
	path = urtypes
	url = ../urtypes
[submodule "foundation-ur-py"]
	path = foundation-ur-py
	url = ../../Foundation-Devices/foundation-ur-py
