[submodule "embit"]
	path = embit
	url = git@github.com:diybitcoinhardware/embit
[submodule "MaixPy/components/micropython/port/src/secp256k1-embedded"]
	path = MaixPy/components/micropython/port/src/secp256k1-embedded
	url = git@github.com:diybitcoinhardware/secp256k1-embedded
[submodule "urtypes"]
	path = urtypes
	url = git@github.com:jreesun/urtypes
