# Compiled Sources
###################
*.o
*.a
!libmaix_asr.a
*.elf
*.bin
*.map
*.hex
*.dis
*.exe

# Packages
############

# Logs and Databases
######################
*.log

# VIM Swap Files
######################
*.swp

# Build directories
######################
build/
build-*/

# Test failure outputs
######################
tests/results/*

# Python cache files
######################
__pycache__/
*.pyc

# Customized Makefile/project overrides
######################
GNUmakefile
user.props

# Generated rst files
######################
genrst/

# MacOS desktop metadata files
######################
.DS_Store

.vagrant

# Krux User Settings
src/settings/log.level.txt
src/settings/network.txt
src/settings/printer.baudrate.txt
src/settings/printer.paper_width.txt