[submodule "embit"]
	path = vendor/embit
	url = ../../diybitcoinhardware/embit
[submodule "urtypes"]
	path = vendor/urtypes
	url = ../urtypes
[submodule "foundation-ur-py"]
	path = vendor/foundation-ur-py
	url = ../foundation-ur-py
[submodule "firmware/Kboot"]
	path = firmware/Kboot
	url = ../Kboot
[submodule "firmware/MaixPy"]
	path = firmware/MaixPy
	url = ../MaixPy
